<div class="phone-app">
    <div class="jumbotron">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">About the app</a></li>
                    <li><a href="/api">Public API</a></li>
                </ul>
            </nav>

            <h1>StarCraft II Calendar App</h1>
            <p class="lead">Up to the minute updates on premier StarCraft II events.</p>
            <ul class="download">
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.ionicframework.myapp572713">
                      <img alt="Get it on Google Play"
                           src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
                    </a>
                </li>
                <li class="web">Or use the <a href="http://starcraftcalendarapp.francoisfaubert.com">mobile website version</a></li>
            </ul>

            <div class="phone">
                <iframe src="http://starcraftcalendarapp.francoisfaubert.com"></iframe>
            </div>
        </div>
    </div>

    <div class="container details">
        <div class="row">
            <div class="col-md-6 scores">
                <%= image_tag("screenshot-scores.png") %>
                <h2>Scores</h2>
                <p>As results are published to the official <a href="//wcs.battle.net/">WCS</a> website, they will be displayed on the app allowing you to stay up to date where ever you are.</p>
            </div>
            <div class="col-md-6 events">
                <%= image_tag("screenshot-events.png") %>
                <h2>Events</h2>
                <p>You won't miss another tournament with this list of upcoming events localized to your timezone.</p>
            </div>
        </div>
        <div class="row calendars">
            <div class="col-md-10 col-md-offset-1">
                <h2>Custom calendar applications</h2>

                <p>If you want to automatically add events to your personal calendar, import our <code>.ics</code> links in your favorite calendar application. Once the feed is added, it will automatically be kept up to date by your software. More details available on our <a href="/api/">API page</a>.</p>

                <h4>Schedule</h4>
                <p><code>http://starcraftcalendar.francoisfaubert.com/calendar/sc2/events.ics</code></p>

                <h4>Scores</h4>
                <p><code>http://starcraftcalendar.francoisfaubert.com/calendar/sc2/scores.ics</code></p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-md-1 col-md-offset-3"><i class="glyphicon glyphicon-calendar"></i></div>
            <div class="col-md-5">
                <p>Starcraft II is a trademark of <a href="http://us.blizzard.com/">Blizzard Entertainment</a>, go buy it. It is an awesome game.</p>
                <p>Everything you see here that does not belong to Blizzard is opened-sourced and can be found on my <a href="https://github.com/francoisfaubert/">GitHub.com</a></p>
            </div>
        </div>
    </footer>
</div>

<a href="https://github.com/francoisfaubert/starcraft-calendar-app"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>
